MVC/Connected Services/ServiceReference1/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPositionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionDTO" nillable="true" type="tns:PositionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionDTO" nillable="true" type="tns:ArrayOfPositionDTO" />
  <xs:complexType name="PositionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PositionID" type="xs:int" />
      <xs:element minOccurs="0" name="PositionTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionDTO" nillable="true" type="tns:PositionDTO" />
  <xs:complexType name="ArrayOfPersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDTO" nillable="true" type="tns:PersonDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDTO" nillable="true" type="tns:ArrayOfPersonDTO" />
  <xs:complexType name="PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PositionID" type="xs:int" />
      <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:PositionDTO" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDTO" nillable="true" type="tns:PersonDTO" />
  <xs:complexType name="ArrayOfCarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarDTO" nillable="true" type="tns:CarDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarDTO" nillable="true" type="tns:ArrayOfCarDTO" />
  <xs:complexType name="CarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fuel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarDTO" nillable="true" type="tns:CarDTO" />
  <xs:complexType name="ArrayOfZoneDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneDTO" nillable="true" type="tns:ZoneDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoneDTO" nillable="true" type="tns:ArrayOfZoneDTO" />
  <xs:complexType name="ZoneDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ZoneID" type="xs:int" />
      <xs:element minOccurs="0" name="ZoneName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZoneDTO" nillable="true" type="tns:ZoneDTO" />
  <xs:complexType name="ArrayOfPartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartDTO" nillable="true" type="tns:PartDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartDTO" nillable="true" type="tns:ArrayOfPartDTO" />
  <xs:complexType name="PartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car" nillable="true" type="tns:CarDTO" />
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogueNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartID" type="xs:int" />
      <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="tns:ZoneDTO" />
      <xs:element minOccurs="0" name="ZoneID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartDTO" nillable="true" type="tns:PartDTO" />
</xs:schema>