MVC/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPositionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPositionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPosition" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePosition" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPerson" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPersonByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByUsername" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPersonByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCar_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCar" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetZones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZones" />
  </wsdl:message>
  <wsdl:message name="IService1_GetZones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZonesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetZoneById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetZoneById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetZone_InputMessage">
    <wsdl:part name="parameters" element="tns:SetZone" />
  </wsdl:message>
  <wsdl:message name="IService1_SetZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetZoneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteZone_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZone" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZoneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetParts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetParts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPartById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPartById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPart_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPart" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePart_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePart" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePart_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePartResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPositions" message="tns:IService1_GetPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPositionsResponse" message="tns:IService1_GetPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPositionById" message="tns:IService1_GetPositionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPositionByIdResponse" message="tns:IService1_GetPositionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPosition" message="tns:IService1_SetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPositionResponse" message="tns:IService1_SetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePosition" message="tns:IService1_DeletePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePositionResponse" message="tns:IService1_DeletePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPerson" message="tns:IService1_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPersonResponse" message="tns:IService1_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPersonById" message="tns:IService1_GetPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPersonByIdResponse" message="tns:IService1_GetPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPerson" message="tns:IService1_SetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPersonResponse" message="tns:IService1_SetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePerson" message="tns:IService1_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePersonResponse" message="tns:IService1_DeletePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authorize" message="tns:IService1_Authorize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthorizeResponse" message="tns:IService1_Authorize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPersonByUsername" message="tns:IService1_GetPersonByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPersonByUsernameResponse" message="tns:IService1_GetPersonByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCars" message="tns:IService1_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarsResponse" message="tns:IService1_GetCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCarsById" message="tns:IService1_GetCarsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarsByIdResponse" message="tns:IService1_GetCarsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCar" message="tns:IService1_SetCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetCarResponse" message="tns:IService1_SetCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCar" message="tns:IService1_DeleteCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCarResponse" message="tns:IService1_DeleteCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetZones" message="tns:IService1_GetZones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetZonesResponse" message="tns:IService1_GetZones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZoneById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetZoneById" message="tns:IService1_GetZoneById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetZoneByIdResponse" message="tns:IService1_GetZoneById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetZone">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetZone" message="tns:IService1_SetZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetZoneResponse" message="tns:IService1_SetZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteZone">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteZone" message="tns:IService1_DeleteZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteZoneResponse" message="tns:IService1_DeleteZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetParts" message="tns:IService1_GetParts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPartsResponse" message="tns:IService1_GetParts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPartById" message="tns:IService1_GetPartById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPartByIdResponse" message="tns:IService1_GetPartById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPart" message="tns:IService1_SetPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPartResponse" message="tns:IService1_SetPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePart" message="tns:IService1_DeletePart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePartResponse" message="tns:IService1_DeletePart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPositionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPosition">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePosition">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPerson">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://tempuri.org/IService1/Authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByUsername">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPersonByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCarsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCar">
      <soap:operation soapAction="http://tempuri.org/IService1/SetCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZones">
      <soap:operation soapAction="http://tempuri.org/IService1/GetZones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZoneById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetZoneById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetZone">
      <soap:operation soapAction="http://tempuri.org/IService1/SetZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteZone">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPartById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPart">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePart">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>